*{
  box-sizing: border-box;
}
body, html, section, main, div, aside {
  margin: 0;
  border: 0;
  padding: 0;
  font-family: 'Roboto Slab', serif;
  font-family: 'Open Sans', sans-serif;
}

body {
  width: 100%;
  height: 100%;

}

h1{
  font-family: 'roboto slab';
  font-weight:700;
  font-size: 48px;
  color: #00A79D;
  background-color: #E5F3F2;
  margin-bottom: 0;
  margin-top: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  flex-direction: column;
  text-align: center;
}



span {
  font-family: 'roboto slab';
  font-weight:700;
  color: #6D6E71;
}

.top-section {
  background-color: #E5F3F2;
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
}

.input {
  width: 75%;
  height: 40px;
  display: block;
  margin: 0px auto 20px;
  border: solid 2px #D1D3D4;
  padding-left:5px;
}

.web-inputs::-webkit-input-placeholder {
  color: #D1D3D4;
}

.save-button {
  color: #FFFFFF;
  background-color: #00A79D;
  border: none;
  font-size: 22px;
}

.save-button:hover {
  background-color: #045E55;
}

.search-box {
  margin-top: 25px;
}

.idea-card {
  width: 75%;
  height: 200px;
  border-bottom: solid 2px #D1D3D4;
  margin: auto;
}

.idea-card-header {
  display: flex;
  font-family: 'roboto slab';
  color: #6D6E71;
  justify-content: space-between;
}

.delete-button {
  background: none;
  background-image: url(assets/delete.svg);
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  margin-top: 18px;
  height: 30px;
  width: 30px;
}

.delete-button:hover {
  background-image: url(assets/delete-hover.svg);

}

.article-text-container {
  font-size: 18px;
  color: #939598;
}

.quality-control-container {
  display: flex;
  font-size: 18px;
  justify-content: flex-start;
  color:  #6D6E71;
}

.upvote-button {
  background: none;
  background-image: url(assets/upvote.svg);
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  margin-right: 25px;
  margin-top: 18px;
  height: 30px;
  width: 30px;
}

.upvote-button:hover{
  background-image: url(assets/upvote-hover.svg);

}

.downvote-button {
  background: none;
  background-image: url(assets/downvote.svg);
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  margin-right: 25px;
  margin-top: 18px;
  height: 30px;
  width: 30px;
}

.downvote-button:hover {
  background-image: url(assets/downvote-hover.svg);
}

@media (max-width: 375px){

  .article-text-container {
    font-size: 14px;

  }


}
